/* Tema Predeterminado */

.dygraphs {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-bottom: 0px !important;
}


/* Estilos adicionales para dygraph.css en modo oscuro */
.modo-oscuro .dygraph-axis-label,
.modo-oscuro .dygraph-title {
    color: #D1D5DB;
}



/* Estilos para el modo oscuro */
.modo-oscuro {
    background-color: #343541  !important;
	color: #D1D5DB !important;
	padding: 0px !important;
}

.modo-oscuro h3 {
    color: #e3e3e3; /* Cambia el color del título en modo oscuro */
}

/* Agrega el ID article aqui */
#article {
	margin-top: 20px !important;
	margin-bottom: 0px !important;
	margin-left: 20px !important;
	margin-right: 20px !important;
}

/* Agrega el ID content aqui */
#content {
	margin-top: 20px !important;
	margin-bottom: 0px !important;
	margin-left: 20px !important;
	margin-right: 20px !important;
}


/* Agrega el botón modo-oscuro aquí */
#modo-oscuro {
	top: 10px; /* Ajusta según sea necesario */
	right: 10px; /* Ajusta según sea necesario */
	display: flex; 
    flex-wrap: inherit;
	background-color: #343541 !important;
	transition: background-color 0.3s ease; /* Agrega transición para un cambio suave */
}

#modo-oscuro:active {
    background-color: #212529 !important; /* Cambia el color de fondo al hacer clic */
}

/* Estilos H */

h1 {
	text-align: center !important;
	margin-top: 15px !important;
	margin-bottom: 15px !important;	
}

h2 {
	text-align: center !important;
	margin-top: 20px !important;
	margin-bottom: 20px !important;	
}

h3 {
	text-align: center !important;
	margin-top: 40px !important;
	margin-bottom: 40px !important;	
}

h2.h4 {
	text-align: center !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;	
}

body {
	background-color: #abb2bf !important;
    padding: 0px !important;
	margin: 0 !important;
}

body code {
	color: #eee !important;
}

body a {
	text-decoration: none !important;
	color: #333333;
}

/* En modo oscuro */
.modo-oscuro a {
    color: #f5f5f5 !important;
}

.offcanvas-title-1 .nav-link-1{
	text-decoration: none !important;
	color: #eee !important;
}

.nav-link-1{
	text-decoration: none !important;
	color: #eee !important;
}

/* Estilos para el botón de cerrar */
.btn-close {
	border-radius: 25% !important;
	width: 30px !important;
	height: 30px !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	opacity: 0.9 !important;
  }
  
/* Estilos específicos para el botón de cerrar blanco */
.btn-close-white {
	color: white !important;
	background-color: transparent !important;
	border: none !important; /* Anula completamente el borde */
	border-color: rgb(0, 0, 0) !important; /* Color del borde general */
	border-top-color: white !important; /* Color del borde superior */
	border-right-color: white !important; /* Color del borde derecho */
	border-bottom-color: white !important; /* Color del borde inferior */
	border-left-color: white !important; /* Color del borde izquierdo */
	border-radius: 25% !important; /* Hace que el borde sea circular */
	box-shadow: 0 0 5px rgba(15, 15, 15, 0.5) !important; /* Agrega una sombra */
	outline: none !important;
	opacity: 0.9 !important;
}
  
  
/* header and footer areas */
.menu {
	padding: 0px;
}

.menu li {
	display: inline-block;
	color: #eee !important;
}

.menu a {
	display: inline-block;
	color: #eee !important;
}

.article-meta,
.menu a {
	text-decoration: none;
	background: #eee;
}

.menu,
.article-meta,
footer {
	text-align: center !important;
}

.title {
	color: #D1D5DB !important;
}

footer a {
	text-decoration: none;
}

hr {
	border-style: dashed;
	color: #ddd;
}

ul {
	list-style-type: none;
}

/* code */
pre {
	overflow-x: auto;
}

code {
	color: #abb2bf;
}

pre code {
	background: none;
}

main {
	hyphens: auto;
}



thead,
tfoot,
tr:nth-child(even) {
	background: #eee;
}

/* dropdown */
.modo-oscuro .dropdown-menu {
	background-color: #212519;
	text-align: center !important;
	border-color: #abb2bf !important;
}


.dropdown-menu {
	background-color: #abb2bf !important;
	text-align: center !important;
	border-color: #abb2bf !important;
}


.dropdown-item {
	background-color: #282C34 !important;
	text-align: center;
}

/* Formulario de selección-países */
.form-select {
	background-color: #282C34 !important;
	color: #eee !important;
	text-align: center !important;
}

/* Biblioteca-List */
.card {
	background-color: #212529 !important;
	color: #abb2bf !important;
}

.card-title {
	color: #eee !important;
}

.btn-primary {
	background-color: #212529 !important;
	color: #abb2bf !important;
	border-color: darkgray !important;
}

/* Socialshare Partial */
.social-share {
	width: auto !important;
	display: flex !important;
	justify-content: right !important;
}

.social-share ul {
	margin: 0;
}

.social-share ul li p {
	display: none;
}

.social-share .share-icons li {
	padding: 0 !important;
	padding-bottom: 10px !important;
}

.social-share .share-btn {
	padding: 0em !important;
	width: 2em !important;
	height: 2em !important;
}

.social-share-nav .share-btn h3 {
	color: #ffffff;
}

ul.share-icons {
	cursor: default;
	list-style: none !important;
	/* ver que no perjudiquen luego a socialshare.html */
	margin-top: 1em;
}

ul.share-icons li {
	display: inline-block;
	padding: 0 1em 0 0;
}

ul.share-icons li:last-child {
	padding-right: 0;
}

ul.share-icons li>* {
	text-decoration: none;
	border: 0;
}

ul.share-icons li>*:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

ul.share-icons li>* .label {
	display: none;
}

.share-btn {
	display: inline-block;
	color: #ffffff;
	border: none;
	border-radius: 7px !important;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
	outline: none;
	text-align: center;
	text-decoration: none;
}

.share-btn:hover {
	color: #ffffff !important;
}

.share-btn:active {
	position: relative;
	top: 2px;
	box-shadow: none;
	color: #e2e2e2;
	outline: none;
}

.share-btn .widget-social__link-icon {
	margin: 0;
}

.share-btn.twitter {
	background: #55acee;
}

.share-btn.google-plus {
	background: #dd4b39;
}

.share-btn.facebook {
	background: #3B5998;
}

.share-btn.linkedin {
	background: #4875B4;
}

.share-btn.stumbleupon {
	background: #EB4823;
}

.share-btn.pinterest {
	background: #BD081C;
}

.share-btn.reddit {
	background: #ff5700;
}

.share-btn.email {
	background: #444444;
}

.share-btn.whatsapp {
	background: #25d366;
}

.share-btn.twitter:hover {
	background: #4c9ad6;
}

.share-btn.google-plus:hover {
	background: #c64333;
}

.share-btn.facebook:hover {
	background: #2f4779;
}

.share-btn.linkedin:hover {
	background: #4069a2;
}

.share-btn.stumbleupon:hover {
	background: #d3401f;
}

.share-btn.pinterest:hover {
	background: #AD0000;
}

.share-btn.reddit:hover {
	background: #e54e00;
}

.share-btn.email:hover {
	background: #363636;
}

/* div-container-pb5 */
.div {
	padding: 20px;
	margin-top: 30px;
	background-color: transparent !important;
}

.container-sm {
    margin-top: 20px;
    margin-bottom: 0px;
}

.btn-group.dropend {
    display: flex;
    margin-left: auto; /* Esto debería alinear el botón a la derecha */
}

/* DROPDOWN MENU AMBOS TEMAS */

.dropdown-menu li {
    border: 0.01px solid #212529; /* Agrega un borde inferior a cada elemento del menú */
	padding: 0 !important;
	margin: 0 !important;
	text-decoration: none !important;
}

.dropdown-menu {
    border: 0.01px solid #212529; /* Agrega un borde inferior a cada elemento del menú */
	padding: 0 !important;
	margin: 0 !important;
	text-decoration: none !important;
}

.modo-oscuro .dropdown-menu li {
    border: 0.01px solid #abb2bf; /* Agrega un borde inferior a cada elemento del menú */
	padding: 0 !important;
	margin: 0 !important;
	background-color: #212529 !important;
	color: #abb2bf; 
	text-decoration: none !important;
}

.modo-oscuro .dropdown-menu {
    border: 0.01px solid #ffffff; /* Agrega un borde inferior a cada elemento del menú */
	padding: 0 !important;
	margin: 0 !important;
	text-decoration: none !important;
}

/* DROPDOWN TOOGLE AMBOS TEMAS */
.dropdown-toggle {
    background-color: #212529;
    color: #ffffff;
    padding: 10px;
	border: 1px solid #abb2bf; 
	text-decoration: none !important;
}
.dropdown-toggle.active {
    background-color: #abb2bf; /* Cambia a tu color preferido */
    color: #212529;
	border: 1px solid #212529; /* Cambia el color del borde y el grosor */
	text-decoration: none !important;
}
.modo-oscuro .dropdown-toggle {
    background-color: #abb2bf;
    color: #212529 !important;
    padding: 10px;
	border: 1px solid #212529; /* Cambia el color del borde y el grosor */
	text-decoration: none !important;
}
.modo-oscuro .dropdown-toggle.active {
    background-color: #212529; /* Cambia a tu color preferido */
    color: #ffffff !important;
	border: 1px solid #abb2bf; /* Cambia el color del borde y el grosor */
	text-decoration: none !important;
}

/* MENU DESPLEGABLE DE DROPDOWN AMBOS TEMAS */

.dropdown-menu a:hover {
    background-color: #333; /* Cambia el color de fondo al hacer hover */
    color: #fff; /* Cambia el color del texto al hacer hover */
}
.dropdown-menu li:hover {
    background-color: #333; /* Cambia el color de fondo del contenedor al hacer hover */
}
.dropdown-menu li:hover a {
    color: #fff; /* Cambia el color del texto al hacer hover */
	text-decoration: none !important;
}
/* TEMA OSCURO */
.modo-oscuro .dropdown-menu a:hover {
    background-color: #abb2bf !important; /* Cambia el color de fondo al hacer hover */
    color: #333 !important; /* Cambia el color del texto al hacer hover */
}
.modo-oscuro .dropdown-menu li:hover {
    background-color: #abb2bf !important; /* Cambia el color de fondo del contenedor al hacer hover */
}
.modo-oscuro .dropdown-menu li:hover a {
    color: #333 !important; /* Cambia el color del texto al hacer hover */
}

/* TABS */
.nav-tabs {
    margin-top: 0rem; /* Ajusta según sea necesario */
    border-color: #343541 !important; /* Borde de las pestañas */
    border-bottom-width: 3px; /* Grosor del borde inferior */
    border-bottom-style: solid; /* Estilo del borde inferior */
    padding-bottom: 5px; /* Espacio adicional debajo de las pestañas */
	text-decoration: none !important;
}

.modo-oscuro .nav-tabs {
	margin-top: 0rem;
	border-color: #abb2bf !important;
	text-decoration: none !important;
}

/* Modo claro que tienen active */
.nav-link.active {
	background-color:#abb2bf !important; /* Cambia el color de fondo en modo claro */
    color: #000000 !important; /* Cambia el color del texto en modo claro */
    border-color: #212529 !important; /* Cambia el color del borde en modo claro */
	text-decoration: none !important;
}
/* Modo oscuro que tienen active */
.modo-oscuro .nav-link.active{
	background-color: #212529 !important; /* Cambia el color de fondo en modo oscuro */
    color: #ffffff !important; /* Cambia el color del texto en modo oscuro */
    border-color: #abb2bf !important; /* Cambia el color del borde en modo oscuro */
	text-decoration: none !important;
}

/* Modo claro que no tienen active */
.nav-link{
	background-color: #212529 !important; /* Cambia el color de fondo en modo claro */
    color: #abb2bf !important; /* Cambia el color del texto en modo claro */
    border-color: #abb2bf !important; /* Cambia el color del borde en modo claro */
	text-decoration: none !important;
}
/* Modo oscuro que no tienen active */
.modo-oscuro .nav-link{
	background-color: #abb2bf !important; /* Cambia el color de fondo en modo oscuro */
    color: #212529 !important; /* Cambia el color del texto en modo oscuro */
    border-color: #000000 !important; /* Cambia el color del borde en modo oscuro */
	text-decoration: none !important;
}
/* Estilo predeterminado para el borde inferior en modo claro */
.d-block.my-2.pb-2.border-bottom {
    border-bottom: 1px dashed #343541 !important; /* Color del borde en modo claro */
}
/* Estilo para el borde inferior en modo oscuro */
.modo-oscuro .d-block.my-2.pb-2.border-bottom {
    border-bottom: 1px solid #abb2bf !important; /* Color del borde en modo oscuro */
}

.tab-content {
	margin: 2rem 0 2rem 1rem;
}

.tab-content>.active {
	display: flex !important;
	align-items: flex-start !important;
	justify-content: space-around !important;
	flex-wrap: wrap !important;
}

.col {
	margin: auto;
	justify-content: space-around !important;
	padding: 20px !important;
}

.row {
	justify-content: space-around !important;
	padding: 20px !important;
}

.row-list-graficos {
    justify-content: space-around !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 100% !important;
}


.fuente-bajo-grafico {
    text-align: center !important; /* Alinea el texto al centro */
    margin-top: 10px; /* Ajusta el espacio entre el gráfico y la fuente */
}

.fuente-bajo-grafico img {
    margin: 0 auto; /* Centra la imagen dentro del contenedor */
}

.row-list-graficos > h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

/* dygraph align */
.html-widget {
	max-width: 100% !important;
}


.sticky-top {
	bottom: 30px !important;
}

.table.lightable-paper.table {
	max-width: auto !important;
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.article {
	width: auto !important;
	display: flex !important;
}

.graphcomment {
	justify-content: center !important;
}

.d-flex {
	width: 1000px !important;
}

#article {
    width: 1000px !important;
    padding-left: 0px !important;
}

.custom-flex {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido hacia la derecha */
    align-items: center; /* Centra verticalmente el contenido */
}

.container-fluid-list {
    margin-left: auto; /* Establece el margen izquierdo automático */
    margin-right: 150px; /* Ajusta según sea necesario */
}

.modo-oscuro .container-fluid.custom-flex {
	background-color: #343541;
}

.navbar-nav-menu {
	font-size: 18px;
	background-color: #212529;
	padding-left: 10px !important;
}

.navbar-nav {
	font-size: 18px;
	background-color: #212529;
	padding-left: 10px !important;
}

.modo-oscuro .navbar-nav {
	font-size: 18px;
	background-color: #abb2bf;
	padding-left: 10px !important;
}

/* Asegura que los elementos de la lista se muestren en línea */
.navbar-nav-blog {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-evenly;
	background-color: #343541;
	transition: background-color 0.3s ease; /* Agregamos una transición suave al color de fondo */
}
.modo-oscuro .navbar-nav-blog {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
	background-color: #abb2bf;
	transition: background-color 0.3s ease; /* Agregamos una transición suave al color de fondo */
}

/* Estilo básico para los elementos de la lista */
.navbar-nav-blog .nav-item-blog {
	margin-right: 10px; /* Espacio entre elementos */
	transition: margin-right 0.3s ease; /* Agregamos una transición suave al margen derecho */
}

.modo-oscuro .navbar-nav-blog .nav-item-blog {
	margin-right: 10px; /* Espacio entre elementos */
	transition: margin-right 0.3s ease; /* Agregamos una transición suave al margen derecho */
}

.nav-link-blog {
	color: #fff;
}

.modo-oscuro .nav-link-blog {
	color: #000000 !important;
}


.offcanvas {
	margin-left: 10px;
	margin-right: 10px;
}
  
.offcanvas-header {
	margin-right: 10px;
	margin-left: 10px;
}
  
.custom-share{
	justify-content: center;
}

.timeline-container {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px; /* Ajusta el ancho máximo del contenedor según tus preferencias */
	margin: 0 auto; /* Centra el contenedor en la página */
}
  
.facebook-timeline,
  .twitter-timeline {
	flex: 1; /* Hace que ambos ocupen el mismo espacio en el contenedor */
	max-width: 100%; /* Ajusta según tus preferencias */
}

/* nav modo oscuro */
.modo-oscuro .navbar.navbar-dark.bg-dark.fixed-top {
	background-color: #212529 !important; /* Reemplaza con el color hexadecimal que desees */
}

footer.footer.fixed-bottom.bg-dark {
    background-color: #343541 !important; /* Color de fondo oscuro */
}

.modo-oscuro footer.footer.fixed-bottom.bg-dark {
    background-color: #212529 !important; /* Color de fondo oscuro */
}

/* nav modo claro */
.navbar.navbar-dark.bg-dark.fixed-top {
	background-color: #343541 !important; /* Reemplaza con el color hexadecimal que desees */
}

/* En modo claro */
.navbar.navbar-dark.bg-dark {
    background-color: #abb2bf !important; /* Color de fondo predeterminado en modo claro */
}

/* En modo oscuro */
.modo-oscuro .navbar.navbar-dark.bg-dark {
    background-color: #343541 !important; /* Cambia el color de fondo al modo oscuro */
}

/* Estilo predeterminado del botón */
.navbar-toggler {
    box-shadow: 0 1px 10px #343541 !important;
    color: #343541 !important;
    padding: 0.375rem 0.75rem !important; /* Ajusta estos valores según tus preferencias */
    font-size: 1rem; /* Ajusta el tamaño de la fuente según tus preferencias */
    line-height: 1;
    border-radius: 0.25rem; /* Ajusta el radio del borde según tus preferencias */
    transition: 0.3s ease; /* Ajusta la duración y el tipo de transición según tus preferencias */
}

.modo-oscuro .navbar-toggler {
    box-shadow: 0 0px 4px #D1D5DB;
    padding: 0.375rem 0.75rem !important;
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

/* Estilo para el botón en estado activo o expandido */
.navbar-toggler:active,
.navbar-toggler[aria-expanded="true"] {
    border-width: 0 !important; /* Puedes ajustar el ancho del borde en estado activo o expandido según tus preferencias */
}



.navbar-toggler-list {
    background-color: #343541 !important; /* Color de fondo predeterminado en modo claro */
    border: 2px groove #343541 !important; /* Borde del botón */
    border-radius: 8px; /* Bordes redondeados para un aspecto más elegante */
    padding: 8px 8px; /* Espaciado interno para que el botón sea más grande */
	color: #D1D5DB !important; /* Color del texto */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transiciones suaves */
}

/* Estilo al pasar al modo oscuro */
.modo-oscuro .navbar-toggler-list {
    background-color: #abb2bf !important; /* Cambia el color de fondo al modo oscuro */
	border: 2px groove #abb2bf !important; /* Borde del botón */
	border-radius: 8px; /* Bordes redondeados para un aspecto más elegante */
    padding: 8px 8px; /* Espaciado interno para que el botón sea más grande */
	color: #000000 !important; /* Color del texto */
}

/* En modo claro */
.breadcrumb-item.active {
    color: #343541 !important; /* Color de fondo predeterminado en modo claro */
	padding: 0px 4px 0px 4px !important;
}

/* En modo oscuro */
.modo-oscuro .breadcrumb-item.active {
    color: #abb2bf !important; /* Cambia el color de fondo al modo oscuro */
	padding: 0px 4px 0px 4px !important;
}

/* En modo claro */
.breadcrumb-item.active::before {
    color: #343541 !important; /* Color de fondo predeterminado en modo claro */
	padding: 0px 4px 0px 4px !important;
}

/* En modo oscuro */
.modo-oscuro .breadcrumb-item.active::before {
    color: #f5f5f5 !important; /* Cambia el color de fondo al modo oscuro */
	padding: 0px 4px 0px 4px !important;
}

/* En modo claro */
.breadcrumb-item::before {
    color: #343541 !important; /* Color de fondo predeterminado en modo claro */
	padding: 0px 4px 0px 4px !important;
}

/* En modo oscuro */
.modo-oscuro .breadcrumb-item::before {
    color: #f5f5f5 !important; /* Cambia el color de fondo al modo oscuro */
	padding: 0px 4px 0px 4px !important;
}

/* Estilo predeterminado para el enlace en modo claro */
.text-decoration-none.link-secondary.nav-link {
    color: #343541 !important; /* Color del texto en modo claro */
	background-color: #abb2bf !important;
}

/* Estilo para el enlace en modo oscuro */
.modo-oscuro .text-decoration-none.link-secondary.nav-link {
    color: #abb2bf !important; /* Color del texto en modo oscuro */
	background-color: #343541 !important;
}

/* Bordes generales */
.p-3 {
    border: 1px solid #343541; /* Color del borde general */
    border-radius: 8px; /* Bordes redondeados para un aspecto más elegante */
}

/* En modo oscuro */
.modo-oscuro .p-3 {
    border-color: #abb2bf; /* Cambia el color del borde en modo oscuro */
}


/* Tema claro biblioteca */
.biblioteca {
	background-color: #abb2bf; /* Color de fondo claro */
	color: #343541; /* Color del texto claro */
}
        /* Enlace en modo claro biblioteca */
.biblioteca a {
	color: #343541; /* Color del enlace en modo claro */
}

/* Tema oscuro biblioteca */
  .modo-oscuro .biblioteca {
	background-color: #343541; /* Color de fondo oscuro */
	color: #abb2bf; /* Color del texto oscuro */
}
/* Enlace en modo oscuro biblioteca*/
.modo-oscuro .biblioteca a {
	color: #abb2bf; /* Color del enlace en modo oscuro */
}

.modo-oscuro blockquote {
	background: #343541;
}

.blockquote{
	background: hsl(219, 14%, 71%);
}

/* En modo claro */
a:hover {
	text-decoration: underline !important; /* O cualquier otro estilo de subrayado, si lo prefieres */
}
  
  /* En modo oscuro */
.modo-oscuro a:hover {
	text-decoration: underline !important; /* O cualquier otro estilo de subrayado, si lo prefieres */
}

.nav-link-footer{
	background-color: #343541 !important; /* Color de fondo oscuro */
	color: #ffffff !important; /* Color del texto oscuro */
}

.modo-oscuro .nav-link-footer{
	background-color: #212529 !important; /* Color de fondo oscuro */
	color: #f5f5f5 !important; /* Color del texto oscuro */
}
/* Color de fondo claro titulo biblioteca */
.text-center-biblioteca{
	background-color: #343541;
	color: #f5f5f5 !important; /* Color del texto oscuro */
	text-align: center !important;
}

.modo-oscuro .text-center-biblioteca{
	background-color: red;
	color: #212529 !important; /* Color del texto oscuro */
	text-align: center !important;
}
/* Modo Claro Blockquote */
.blockquote-biblioteca{
	background-color: #343541;
}
/* Modo Oscuro Blockquote */
.modo-oscuro .blockquote-biblioteca{
	background-color: #abb2bf;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* CSS para el estilo del botón */
#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 35px;
    height: 35px;
    background-color: #343541;
    color: #fff;
    border: none;
    border-radius: 50%; /* Configura el radio del borde para hacerlo circular */
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.modo-oscuro #scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    color: #343541;
    border: none;
    border-radius: 50%; /* Configura el radio del borde para hacerlo circular */
    cursor: pointer;
    transition: opacity 0.3s ease;
}




/* RESPONSIVES */

/* Responsive para nav.html SELECCIONAR PAISES */
@media (max-width: 768px) {
    .custom-flex {
        margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
    }

    .container-fluid-list {
        margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
    }
}

/* Responsive para blog-single.html ARTICULOS  */
@media (max-width: 768px) {
    #content {
		margin-top: 20px !important;
		margin-bottom: 0px !important;
		margin-left: 20px !important;
		margin-right: 20px !important;
    }
}

@media (max-width: 768px) {
    .breadcrumb-container {
        margin-top: 20px !important;
		margin-bottom: 0px;
		margin-left: 20px !important;
		margin-right: 20px;
    }
}

@media (max-width: 768px) {
    #article {
		margin-top: 20px !important;
		margin-bottom: 0px !important;
		margin-left: 20px !important;
		margin-right: 20px !important;
    }
}

/* Para dispositivos móviles */
@media (max-width: 767px) {
    .row-list-graficos {
        flex-direction: column;
        text-align: center;
    }
}
