/* Tema Predeterminado */

body a {
  color: #eee !important;
}

body code {
  color: #eee !important;
}

/* header and footer areas */
.menu {
  padding: 0;
}

.menu li {
  display: inline-block;
  color: #eee !important;
}

.article-meta,
.menu a {
  text-decoration: none;
  background: #eee;

}

.menu,
.article-meta,
footer {
  text-align: center;
}

.title {

  color: red;
}

footer a {
  text-decoration: none;
}

hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {


  overflow-x: auto;
}

code {

  color: #abb2bf;

}

pre code {
  background: none;

}

main {
  hyphens: auto;
}

blockquote {
  background: #f9f9f9;


}

table {
  margin: auto;


}



thead,
tfoot,
tr:nth-child(even) {
  background: #eee;
}


/* nav.html */
.navbar,
.navbar-dark, body {
  background-color: #282C34 !important;
  color: #abb2bf !important;
}

/* dropdown */
.dropdown-menu {
  background-color: #282C34 !important;
  text-align: center !important;
  border-color: #abb2bf !important;
}
.dropdown-item {
  background-color: #282C34 !important;
  text-align: center;
}

/* breadcrumb.html */
.breadcrumb-item+.breadcrumb-item::before {
  color: #abb2bf !important;
}
/* Formulario de selección-países */

.form-select {
  background-color: #282C34 !important;
  color: #eee !important;
  text-align: center !important;
}