{{ define "main" }}
{{ block "navbar" . }}
{{ end }}

{{ if ne .Kind "taxonomy" }}
  {{ range .Pages }}
    {{ $subpaginas := .Pages }}
    <div class="row g-4 mt-2">
      <div class="col-lg-3 col-sm-12">
        <img class="img-fluid rounded"
             src="{{ .Params.featuredImage }}"
             alt="Portada de {{ .Title }}">
      </div>

      <div class="col-lg-9 col-sm-12 p-3">
        <a class="text-decoration-none" href="{{ .RelPermalink }}">
          <h2 class="h4">{{ .Title }}</h2>
        </a>

        {{ $meses := slice "enero" "febrero" "marzo" "abril" "mayo" "junio" "julio" "agosto" "septiembre" "octubre" "noviembre" "diciembre" }}
        <time datetime="{{ .PublishDate.Format `2006-01-02T15:04:05Z07:00` }}">
          {{ .PublishDate.Day }} de {{ index $meses (sub (int (.PublishDate.Format "1")) 1) }} de {{ .PublishDate.Year }}
        </time>

        {{ with $subpaginas }}
          <ul class="ps-4 mt-2">
            {{ range first 4 . }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        {{ end }}

        {{ if .Params.tags }}
          <p>
            Etiquetas:
            {{ range .Params.tags }}
              <a class="text-decoration-none nav-item px-1"
                 href="/tags/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          </p>
        {{ end }}

        {{ .Content | truncate 400 }}

        <a class="text-decoration-none link-secondary nav-link"
           href="{{ .RelPermalink }}">
          {{ if $subpaginas }}Ver todos los artículos{{ else }}Leer artículo{{ end }}
        </a>
      </div>
    </div>
  {{ end }}
{{ end }}

<div id="content">
  <!-- Aquí se mostrará dinámicamente el contenido de la categoría -->
</div>

<script>
  function showCategories(categories) {
    document.getElementById('content').innerHTML =
      'Mostrando contenido de la categoría: ' + categories;
  }
</script>
{{ end }}