{{ define "main" }}
{{ block "navbar" . }}
{{ end }}
{{ if ne .Kind "taxonomy" }}
{{ range .Pages }}
<div class="row g-4 mt-2">
    <div class="col-lg-3 col-sm-12">
        <img class="img-fluid rounded" src="{{ .Params.featuredImage }}" alt="featured image {{ .Title }}">
    </div>
    <div class="col-lg-9 col-sm-12 p-3">
        <a class="text-decoration-none" href="{{.Permalink}}">
            <h2 class="h4">{{ .Title }}</h2>
        </a>
        <time datetime="{{ .PublishDate.Format `2006-01-02T15:04:05Z07:00` | safeHTML }}">
            {{ .PublishDate.Format "Jan 2, 2006" }}
        </time>
        <br />

        {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a> 
        </li>
      {{ end }}
    
        <!-- Mostrar tags -->
        Tags:
        {{ if .Params.tags }}
            {{ range .Params.tags }}
                <a class="text-decoration-none nav-item px-1" href="/tags/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        {{ else }}
            No tags available
        {{ end }}
        


        <br />

        {{ .Content | truncate 400 }}
        <a class="text-decoration-none link-secondary nav-link" href="{{.Permalink}}">...Explorar contenido</a>
    </div>
</div>
{{ end }}
{{ end }}

<div id="content">
    <!-- Aquí se mostrará dinámicamente el contenido de la categoría -->
</div>

<script>
    function showCategories(categories) {
        document.getElementById('content').innerHTML = 'Mostrando contenido de la categoría: ' + categories;
    }
</script>
{{ end }}
