<div class="biblioteca">
  <figure class="text-center-biblioteca">
    <blockquote class="blockquote-biblioteca">
      <p>Escuela Austríaca de Economía</p>
    </blockquote>
  </figure>

  <div class="row">
    {{ range .Site.Data.libros.economia.austriacos }}
    <div class="col-sm d-flex">
      <div class="card card-body">
        
        <div class="card-body flex-fill">
          <h5 class="card-title">{{ .titulo }}</h5>
          <p class="card-text">{{ .resumen | truncate 200 }}</p>
          <a href="{{ .link }}" class="btn btn-primary" download="{{ .titulo }}" target="_blank" rel="noopener noreferrer">Descargar</a>


        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
