<nav class="breadcrumb container" aria-label="breadcrumb" style="margin-bottom: 0px; margin-top: 70px; margin-left: 30px;">
    <ol class="breadcrumb" style="margin-bottom: 0px;">
    {{ define "breadcrumb" }}
    {{ with .Parent }}
        {{ template "breadcrumb" . }}
        <li class="breadcrumb-item" ><a href="{{ .Permalink }}">{{ if .IsHome }} Inicio {{ else }}{{ .Title }}{{ end }}</a></li>
    {{ end }}
    {{ end }}
    {{ if not .IsHome }}
    
        {{ template "breadcrumb" . }}
    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
    
    {{ end }}
    
</ol>

</nav>