<div class="container-fluid" style="color:#eee;background-color: #282C34;">
  <h4 class="text-end">Información Económica por Países</h4>
  <select 
    class="form-select form-select-sm" aria-label="Small select example" 
    onchange= "location = this.value;">  
    {{ range .Site.Data.countries.country }}
    <option value="{{ .abrev }}">{{ .name | humanize }}</option>
    {{ end }}
  </select>
</div>


<div class="container text-center">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>



