<header>
<nav class="navbar navbar-dark bg-dark sticky-top fixed-top" >
    <div class="container-fluid">
      <a class="navbar-brand" href= "{{ .Site.BaseURL }}" >Bernal Mauricio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h3>
            <a class="offcanvas-title nav-link {{ if .IsHome }} active {{ end }}" href="{{ .Site.Home.Permalink }}" 
            >Inicio</a>
          </h3 >
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" >
            {{ $current := . }}
            {{ range .Site.Menus.main }}
            {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
            {{ $active = or $active (eq .Name $current.Title) }}
            {{if .HasChildren }}
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{.Name}}
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" >
                {{ range .Children }}
                <li  class="{{ if $active }}active{{ end }}"><a  class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name
                    }}</a>
                </li>
                {{ end }}
              </ul>
            </li>
            {{ else }}
            <li class="nav-item {{ if $active }}active{{ end }}">
              <a class="nav-link" href="{{ .URL | absURL }}">{{.Name}}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

</header>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- Container wrapper -->
  <div class="container">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars text-white"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mb-0 mb-md-1" href="#">
              Navbar
          </a>
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Team</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Projects</a>
              </li>
          </ul>
          <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
          <!-- Icon -->
          <a class="me-3" href="#">
              <i class="fas fa-shopping-cart text-white"></i>
          </a>

          <!-- Notifications -->
          <div class="dropdown">
              <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-bell text-white"></i>
                  <span class="badge rounded-pill badge-notification bg-danger">1</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                      <a class="dropdown-item" href="#">Some news</a>
                  </li>
                  <li>
                      <a class="dropdown-item" href="#">Another news</a>
                  </li>
                  <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                  </li>
              </ul>
          </div>
          <!-- Avatar -->
          <div class="dropdown">
              <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                  <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                  <li>
                      <a class="dropdown-item" href="#">My profile</a>
                  </li>
                  <li>
                      <a class="dropdown-item" href="#">Settings</a>
                  </li>
                  <li>
                      <a class="dropdown-item" href="#">Logout</a>
                  </li>
              </ul>
          </div>
      </div>
      <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->