<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">Bernal Mauricio</a>
    <ul class="nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Instituto de Estadística</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Banco
          Central</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Ministerio de Economía</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
    <select class="form-control input-sm"  id="mySelect" style="width: 300px">
      {{ range .Site.Data.countries.country }}
      <option value="{{ .value }}" data-url="http://localhost:1313/graficos/{{ .value }}" >{{ .name }}</option>
      {{ end }}
    </select> 
    </div>
</nav>
<div id="page"></div>


<script>

  $(function() {
    {{ range .Site.Data.countries.country }}
    loadPage("http://localhost:1313/graficos/{{ .value }}");
    {{ end }}

    $('#mySelect').on('change', function() {
      loadPage($(this).find(':selected').data('url'));
      //OR
      // $("#page").load( $(this).find(':selected').data('url') );
    });
  });
  
  function loadPage(url) {
    $("#page").load(url);
  }
</script>