<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">Bernal Mauricio</a>
      <select class=custom-select  style="width: 200px" id="select">
      <option value="#" >Selecciona un país</option>  
      {{ range .Site.Data.countries.country }}
      <option value="{{ .value }}" data-url="/graficos/{{ .value }}/" >{{ .name }}</option>
      {{ end }}
    </select> 
  </div>
</nav>

<div id="page"></div>
<script>
  $('#select').on('change', function() {
    loadPage($(this).find(':selected').data('url'));
    //OR
    // $("#page").load( $(this).find(':selected').data('url') );
  });
  
  function loadPage(url) {
  
    $("#page").load(url);
  }
</script>