{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span>📚</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {{ range sort ($.Site.GetPage "taxonomyTerm" "categories").Pages "Title" }}
                <li class="nav-item">
                    <a class="nav-link text-decoration-none" href="/blog/{{ .Params.slug }}"
   onclick="showCategory('{{ .Params.slug }}')">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
{{ end }}