{{ define "main" }}
  <div class="row">
    <div style="padding-right: 0px;padding-left: 0px;">
      <div class="row">
        <!-- Contenido principal -->
        {{ .Content }}
      </div>

        <!-- Tu timeline de Facebook -->
        <div class="timeline facebook-timeline">
          <div class="fb-page" data-href="https://www.facebook.com/bernalmauri" data-tabs="timeline" data-width="400" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/bernalmauri" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/bernalmauri">Tu Página de Facebook</a>
            </blockquote>
          </div>
          <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0" nonce="pBhaqtsf"></script>
        </div>
      </div>
    </div>
  </div>
{{ end }}
