{{ $categoria := .Get "categoria" }}
{{ with index .Site.Data.libros.economia $categoria }}
  <div class="biblioteca">
    <figure class="text-center-biblioteca">
      <blockquote class="blockquote-biblioteca">
        <p></p>
      </blockquote>
    </figure>

    <div class="row">
      {{ range . }}
      <div class="col-sm d-flex">
        <div class="card card-body">
          <div class="card-body flex-fill">
            <h5 class="card-title">{{ .titulo }}</h5>
            <p class="card-text">{{ .resumen | truncate 200 }}</p>
            <a href="{{ .link }}" class="btn btn-primary">Descargar</a>

          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>


{{ end }}
