{{- define "main" -}}
<article class="article">
  {{ partial "breadcrumb.html" . }}
  <div class="article-container">
    <div class="row">
      <div class="col-12 col-lg-9 article-style">
        {{ .Content }}
      </div >
      <nav class="col-12 col-lg-3">
        <div class="position-fixed">
          <strong class="d-block my-2 pb-2 border-bottom" style="color: #ffffff !important;">En esta página</strong>
          {{ .TableOfContents }}
        </div>
      </nav>
    </div>
    <!-- 
      {{ partial "comment.html" . }}
      -->
    {{ partial "socialshare.html" . }}
  </div>
</article>

{{- end -}}