{{- define "main" -}}

<div class="container-sm" style="
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;">
  {{ partial "breadcrumb.html" . }}
</div>
<article class="article">
  
  <div class="article-container">
    <div class="row" style="padding-top: 0px !important;">
      <div class="col-sm-10 article-style">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>


</style>

        {{ .Content }}
      </div >
      <nav class="col-sm-2">
        <div class="position-fixed">
          <strong class="d-block my-2 pb-2 border-bottom" style="color: #ffffff !important;">MENU</strong>
          {{ .TableOfContents }}
        </div>
      </nav>
    </div>
  </div>
</article>

<div class="d-flex">
<div class="col">
  {{ partial "redes" . }}
  {{ partial "comment" . }}
</div>
</div>

{{- end -}}